html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  height: 100%;
}
body{
  line-height:1.6;
  font-family:-apple-system-font, "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 16px;
  height: 100%;
}
*{
  margin:0;
  padding:0;
}

.sc_t{width: 72px;height: 72px;border: none;overflow: hidden;}
.sc_top{margin-top: -1px;}

.nr_con_all_pr{padding: 10px;background-color:#f8f8f8;}
.gr_top{width:100%;height: auto;border-bottom: 1px solid #e5e5e5;text-align: center;line-height: 30px;background-color: white;padding-bottom: 30px;color: #999999;}

.issue-title{margin: 0 auto;}

.div-right{float:right;width:50px;height:50px;}